@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #EA7307;
  --primary2: #F54900;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --font-inter: var(--font-inter);
}



body {
  background: var(--background);
  color: var(--foreground);
}